.about_cardmain {
  display: flex;
  width: 100%;
  //border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  padding-bottom: 20px;
  // background-color: rgb(235, 234, 234);
  // background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  .about_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    
    @media (max-width: 500px) {
      padding: 10px 60px;
    }
    .about_heading_top{
      @media (max-width: 1000px) {
        font-size: 30px;
       }
      @media (max-width: 700px) {
       font-size: 25px;
      }
    }
    .line {
      width: 100px;
      height: 4px;
      background-color: rgb(46, 179, 179);
      margin-bottom: 5px;
    }
    .Key_heading {
      display: flex;
      font-size: 26px;
      margin: 0px;
      color: #530624;

      @media (max-width: 700px) {
        font-size: 24px;
      }
      @media (max-width: 500px) {
        font-size: 22px;
      }
      @media (max-width: 400px) {
        font-size: 18px;
      }
    }
    .sub_heading {
      color: #575252;
    }
  }

  .about_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media (max-width: 1000px) {
      
    }
    .about_card_image_box {
      width: 30%;
      @media (max-width: 1000px) {
      display: none;
      }
      .about_card_image {
        border-radius: 50%;
        @media (max-width: 1200px) {
          width: 300px;
          height: 300px;
        }
      }
    }

    .content {
      display: flex;
      width: 70%;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      flex-wrap: wrap;

      @media (max-width: 1000px) {
      }
    }
    .heading-content {
      padding-bottom: 20px;
      font-size: 22px;
      flex-wrap: wrap;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      @media (max-width: 1200px) {
        font-size: 20px;
      }
      @media (max-width: 1000px) {
        font-size: 15px;
      }
    }
    .card-holder {
      width: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      .card {
        width: 200px;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .about-card-heading {
          font-size: 15px;
          font-weight: 700;
        }
        .about-card-description {
          display: flex;
          text-align: center;
        }
      }
    }
    .description {
      display: flex;
      color: #302b2b;
      height: 100px;
      @media (max-width: 400px) {
        display: flex;
        width: 80%;
      }
    }
  }
  .card_image {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    @media (max-width: 1000px) {
      width: 250px;
      height: 350px;
    }
    @media (max-width: 500px) {
      width: 350px;
      height: 450px;
    }
    @media (max-width: 400px) {
      width: 230px;
      height: 330px;
    }
  }
}
