/* Simple styling for the nav */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(149, 123, 160);
}

.main_outter {
  display: flex;
  width: 100%;
  .main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.sec {
  display: flex;
  flex-direction: row;
  width: 90%;
  border-radius: 20px;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  height: auto;
  margin-top: 30px;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left_sec {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    .myimage {
      width: 300px;
      height: 400px;
      box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.5);
      border-radius: 10px;
        @media (max-width: 1000px) {
          width: 230px;
          height: 300px;
        
      }
    }
  }
  .right_sec {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url('/src/assets/coding.jpg'); */
    .line {
      font-size: 25px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      color: blue;
      text-align: left;
    width: 250px;
    }
    .designation {
      color: blue;
      font-size: 15px;
      font-weight: 400px;

      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .contact {
      display: flex;
      flex-direction: column;
      .contact_caintainer {
        display: flex;
        gap: 20px;

        align-items: center;
        .icon {
          width: 20px;
          height: 20px;
          display: flex;
        }
      }
    }
  }
}


.Keyheading {
 
 @media (max-width: 768px) {
   color: blue;
 }

 @media (max-width: 480px) {
   color: red;
 }
}



.cardmain {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    height: auto;
    .card_image {
      width: 300px;
      height: 400px;
      box-shadow: 5px 5px 20px;
      border-radius: 10px;
      @media (max-width: 1000px) {
        .card_image {
          width: 250px;
          height: 350px;
        }
      }
      @media (max-width: 500px) {
        .card_image {
          width: 350px;
          height: 450px;
        }
      }

      @media (max-width: 400px) {
        .card_image {
          width: 230px;
          height: 330px;
        }
      }
    }
    .content {
      display: flex;
      width: 300px;
      text-align: center;
      flex-direction: column;
      @media (max-width: 1000px) {
        .content {
          display: flex;
          width: 250px;
        }
      }
      @media (max-width: 500px) {
        .content {
          display: flex;
          width: 350px;
        }
      }
      .content_heading {
        color: rgb(150, 23, 118);
      }
      .description {
        color: #0e0101;
      }
      @media (max-width: 400px) {
        .description {
          display: flex;
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .sec {
    display: flex;
    flex-direction: column;
  }
}
