.main {
  display: flex;
  align-items: center;
  justify-content: center;
 
  .main_inner {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    // background-color: rgb(223, 199, 216);
    align-items: center;
    justify-content: center;
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image:url('/src/assets/image/bg3.jpg');
    background-size: cover; // Options: contain, auto, or cover
  background-position: center; // Adjust alignment
  background-repeat: no-repeat;
 
  }
}

.line {
  font-size: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color:black;
}

.Services {
  display: flex;
  flex-direction: column;
  width: 80%;
  .Services_caintainer {
    display: flex;
    // gap: 20px;
    flex-direction: column;
    .heading {
      display: flex;
      font-size: 20px;
      color:  black;
    }
    .Description {
      display: flex;
      color:black;
      @media (max-width: 400px) {
        display: flex;
        width: 80%;
        
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  width: 80%;
}

// @media (max-width: 700px) {

// }
