.main {
  display: flex;
  align-items: center;
  justify-content: center;
 
  .main_inner {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    // background-color: rgb(223, 199, 216);
    align-items: center;
    justify-content: center;
        margin-top: 20px;
    margin-bottom: 20px;
  //   background-image:url('/src/assets/image/bg3.jpg');
  //   background-size: cover; // Options: contain, auto, or cover
  // background-position: center; // Adjust alignment
  // background-repeat: no-repeat;
 
  }
}
.services-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-line{
  width: 100px;
  height: 4px;
  background-color: rgb(46, 179, 179);
  margin-bottom: 5px;
}

.Services {
  display: flex;
  flex-direction: column;
  width: 80%;
  .Services_caintainer {
    display: flex;
    // gap: 20px;
    flex-direction: column;
    .heading {
      display: flex;
      font-size: 20px;
      color:  black;
    }
    .Description {
      display: flex;
      color:black;
      @media (max-width: 400px) {
        display: flex;
        width: 80%;
        
      }
    }
  }
}

.services-content-holder{
  display: flex;
 gap: 20px;
}
.services-card-holder{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-around;
 gap: 50px;
 padding: 100px;
.services-card{
  width: 200px;
  flex-direction: column;
   display: flex;
  justify-content: center;
  align-items: center;
  
  .services-card-heading{
    font-size: 15px;
    font-weight: 700;
  }
  .services-card-description{
    display: flex;
    text-align: center;
  }
}
}
.projects {
  display: flex;
  flex-direction: column;
  width: 80%;
}

// @media (max-width: 700px) {

// }
