

  .services-main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  gap: 20px;
  padding-bottom: 20px;
    
  }

.services-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .services-heading-top {
    @media (max-width: 1000px) {
      font-size: 30px;
    }
    @media (max-width: 700px) {
      font-size: 25px;
    }
  }

  .services-line {
    width: 100px;
    height: 4px;
    background-color: rgb(46, 179, 179);
    margin-bottom: 5px;
  }
}



.services-content-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   width:100%;
  
  .services_card_image_box {
    display: flex;
    width: 400px;
    height: 400px;
    @media (max-width: 700px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 500px) {
      width: 200px;
      height: 200px;
    }
  }
  .services-card-holder {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  gap: 30px;
    //padding: 100px;
    .services-card {
      width: 200px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .services-card-heading {
        font-size: 15px;
        font-weight: 700;
      }
      .services-card-description {
        display: flex;
        text-align: center;
        // font-size: 15px;
        // font-weight: 100;
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  width: 80%;
}

// @media (max-width: 700px) {

// }
